
@{
    ViewData["Title"] = "Web Storage";
}

<h2>Web Storage</h2>

<section>
    <header><h3>Whoops... Nothing here yet!</h3></header>
    <div>
        <p>Looks like I didn't have time to do this one yet. Check back later!</p>
    </div>
</section>