@model CoreCourse.StateMgmt.Web.Models.Cookies.BiscuitVm
@{
    ViewData["Title"] = "Cookies";
}

<h2>Cookies</h2>

<section>
    <header><h3>Your favorite cookie is...</h3></header>
    <div class="text-center">
        <div>
            <h3 class="text-success">@Model.Name!</h3>
            <img class="favoriteitem" src="~/images/cookies/@(Model.ImageName).png" alt="@Model.Name" />
        </div>
        <p>We know this because your browser saved this ... in a HTTP Cookie!</p>
        <p>Your browser keeps telling telling us whatever's in the cookies for this website</p>
        <form asp-action="DeleteCookie">
            <button type="submit" class="btn btn-lg btn-danger">Delete cookie</button>
        </form>
    </div>
</section>