<li><a asp-controller="ClientState" asp-action="Index">Simple States</a></li>
<li><a asp-controller="Cookies" asp-action="Index">Cookies</a></li>
<li><a asp-controller="WebStorage" asp-action="Index">WebStorage</a></li>
<li><a asp-controller="SessionState" asp-action="Index">Session</a></li>
<li><a asp-controller="Cache" asp-action="Index">Cache</a></li>
<li><a asp-controller="TempData" asp-action="Index">TempData</a></li>