@model CoreCourse.StateMgmt.Web.Models.ClientState.ElmoStatusVm
@{
    ViewData["Title"] = "Client State";
}
<h2>Client State</h2>

<section>
    <header><h3>Elmo's perilous hike - End</h3></header>
    @await Html.PartialAsync("ElmosInventoryPartial")
    <p><big>After a long hike,<br /><b>@Model.Status</b></big></p>
</section>